* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau Infant', sans-serif;
}

h1::before{
    background-image: url(/assets/verificado.png);
}

.logo{
    width: 200px;
    height: 180px;
    border-radius: 50%;
}

.banner {

}

.estatistica {
    background-image: url(/assets/imagem-de-fundo.jpg);
}