* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fonte1{
    font-family: 'Ysabeau Infant', sans-serif;
}

.fonte2{
    font-family: 'Montserrat', sans-serif;
}

h1::before{
    background-image: url(/assets/verificado.png);
}

.logo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 180px;
    align-items: center;
}

.logo-img{
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

.nome{
    display: flex;
    justify-content: space-between;
}

.banner video {
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: absolute;
}

.estatistica {
    background-image: url(/assets/imagem-de-fundo.jpg);
}